<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa:</strong>
  <%= @train.nazwa %>
</p>

<p>
  <strong>Model:</strong>
  <%= @train.model %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
